/* ==========================================================================
Main page styles
========================================================================== */

.abba-img {
    display: inline-block;
    width: 267px;
    height: 397px;
    //background: url('../../content/images/abba_logo.png') no-repeat center top;
    background-size: contain;
}

.donate-button {
    background-color: #26af5f !important;
    border-color: #26af5f !important;
    width: 300px !important;
    font-size: 18px !important;
    font-weight: bold;
}

.donate-text-msg {
    font-size: 18px !important;
    margin-top: 10px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        //background: url('../../content/images/abba_logo.png') no-repeat center top;
        background-size: contain;
    }
}
