<div class="row">
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary donate-button" (click)="openDonate()">
            <span jhiTranslate="home.donate">Doação / Donate</span>
        </button>
        <!-- <span class="abba-img img-fluid rounded"></span> -->
        <p class="donate-text-msg" jhiTranslate="home.text-giving">Text Giving-(833) 331-3368</p>
    </div>
    <div class="col-md-9">
        <h2 jhiTranslate="home.title">Welcome to Abba Church</h2>
        <p class="lead" jhiTranslate="home.subtitle"></p>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/live_stream?channel=UC2DFjsjo_RxrTN9A1SyHgjQ" frameborder="0" allowfullscreen></iframe>
<!--        <a href="https://tithe.ly/give?c=1302804">TEST</a>-->
        <!--<button class="tithely-give-btn" style="background-color: #00DB72;font-family: inherit;font-weight: bold;font-size: 19px; padding: 15px 70px; border-radius: 4px; cursor: pointer; background-image: none; color: white; text-shadow: none; display: inline-block; float: none; border: none;" data-church-id="1302804">Doação</button>
        <script src="https://tithe.ly/widget/v3/give.js?3"></script>
                <script>
        var tw = create_tithely_widget();
        </script>-->
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
            </div>

          <!--  <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>-->
           <!--  <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div> -->
        </div>

        <p jhiTranslate="home.question">
        </p>

        <p>
            <span jhiTranslate="home.like"></span>
        </p>
    </div>
</div>
